#events tr {
    height: initial;
}

#events tr td {
    width: 35px;
    font-weight: bold;
    text-align: center;
}

div.left-side {
    width: 18%;
    float: left;
    padding-right: 5px;
}
div.right-side {
    width: 81%;
    float: left;
}

div.sphere {
	width: 12px;
	height: 12px;
	border-radius: 50px;
    background-color: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#resources {
    border-collapse: collapse;
}
#resources thead tr {
    width: 225px;
}
#resources thead tr td {
    font-weight: bold;
    text-align: center;
}
#resources tbody tr:hover {
    background-color: #c0c0c0;
}
#resources tbody tr.selected {
    background-color: #e0e0e0;
}

#selected-resources tr td {
    border-collapse: collapse;
    border: 1px solid black;
}

#selected-resources thead tr td {
    width: 300px;
    font-weight: bold;
    text-align: center;
}
