<fieldset class="box tabular">
    <legend>Schedule</legend>
    <div class="splitcontentleft">
        <div class="splitcontentleft">
                <% ['Sun', 'Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat'].each do |day| %>
                <%= check_box_tag 'day', day, false %>
                <%= day %>
                <br>
            <% end %>
        </div>
        <div class="splitcontentright">
            <strong>Hours</strong>
            <input id="user_schedule_entry_hours" type="text" size="4">
            <br>
            <input id="user_schedule_entry_add_button" type="button" value="Add" onClick="AddEntry()">
        </div>
    </div>
    <div class="splitcontentright">
        <table id="user_schedule_entries">
            <%# user.user_schedule_entries.each do |entry| %>
                <!--<li><%#= entry.to_s %></li>-->
            <%# end %>
        </table>
    </div>
</fieldset>
<script>
function GetDaysArray() {
    return ['Sun', 'Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat'];
}

function ScheduleToString(days) {
    var str= '';
    var names= GetDaysArray();

    for(var i= 0; i < names.length; i++) {
        if(days[i] === '1') {
            str+= names[i] + ',';
        }
    }

    return str.replace(/,$/, '');
}

function AddEntry() {
    var days= '';

    $('input[type="checkbox"][name="day"]').each(function () {
        if($(this).is(':not(:disabled):checked')) {
            days+= '1';
            $(this).attr('disabled', true);
        }
        else {
            days+= '0';
        }
    });

    var hours= $('#user_schedule_entry_hours');

    var entry= '<tr id="' + days + '"><td>' + ScheduleToString(days) + '</td><td>';
    entry+= parseInt($.trim($(hours).val()));
    entry+= '</td><td class="user_schedule_entry_remove_button">X</td></tr>';

    $(hours).val('');

    $('#user_schedule_entries').append(entry);
}

$('#user_schedule_entries').on('click', 'td.user_schedule_entry_remove_button', function() {
    var checkbox;
    var names= GetDaysArray();

    var tr= $(this).parent('tr');
    var days= $(tr).attr('id');

    for(var i= 0; i < names.length; i++) {
        if(days[i] === '1') {
            checkbox= $('input[type="checkbox"][name="day"][value="' + names[i] +'"]:disabled');

            checkbox.attr('checked', false);
            checkbox.attr('disabled', false);
        }
    }
    tr.remove();
});
</script>
